---
import Layout from '../layouts/Layout.astro';
import logo from '../images/astro-logo-dark.png';
---

<Layout title="About Page">
  <h1 id="p-about--title">わあい</h1>
  <img src={logo} alt="" />
</Layout>
