---
import Layout from '../layouts/Layout.astro';
// import { getCollection } from 'astro:content';
import Todos from '../components/todos';

// const blogs = await getCollection('note');
---

<Layout title="top">
  <!-- <h2>TODO一覧</h2> -->
  <Todos client:load />

  <!-- <h2>ブログ記事一覧</h2>
  <ul>
    {
      blogs.map((blog) => (
        <li>
          <a href={`/note/${blog.slug}`}>{blog.data.title}</a>
        </li>
      ))
    }
  </ul> -->
</Layout>
