---
//* SSG使用時
// import { CollectionEntry, getCollection } from 'astro:content';

// export async function getStaticPaths() {
//   const notes = await getCollection('note');

//   return notes.map((note) => {
//     return {
//       params: { slug: note.slug },
//       props: { note },
//     };
//   });
// }
// interface Props {
//   note: CollectionEntry<'note'>;
// }

// const { note } = Astro.props;
// const { Content } = await note.render();

//* SSR使用時
import { getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const { slug } = Astro.params;

const note = await getEntryBySlug('note', slug!);

if (!note) {
  return Astro.redirect('/404');
}

const { Content } = await note.render();

// trueでSSGにできる
// export const prerender = true;
---

<Layout title={note.data.title}>
  <h1>{note.data.title}</h1>
  <div>
    <Content />
  </div>
</Layout>
